#
# xplademco.conf - Configuration file
#
#
# General Section
#
[general]
#
# For this section, the defaults are shown commented out
#
# Path to com device with ad2usb connected to it. Udev or /dev/serial should be used to ensure the the com port device name remains
# the same across power cycles.
#
#com-port = /dev/tty-ademco
#
# Path to debug file when daemonized. No debug file is specified by default
#
#debug-file =
#
# The pid file is used to detect other instances of the program running and abort if that is the case. If running as non-root, you'll need to
# specify a different writable directory where the pid file can be stored.
#
#pid-file = /var/run/xplademco.pid 
#
# The instance-id us used to distinguish this gateway from any other running on the network. 
# If you have multiple ad2usb's, a separate instance of xplademco will need to be
# run for each of them.
#
#instance-id = ademco
#
# The interface option is used when the gateway is running on a system with multiple network adapters
# No interface is specified by default. Most setups will not need to specify this.
#
#interface =
#
# End of General Section
#
#
#
# Numeric zone to alpha zone mapping.
# 
# The numeric zone reported by the panel is on the left, and the zone data goes on the right
# A zone map is required, and xplademco will refuse to run without one. There are no defaults for
# zones. Any zones not mapped will not be reported, so be sure you properly map *ALL* the zones in your system. 
#
# Format:
#
# Zone_number = zone-Name,zone-type,alarm-type
#
# Where:
#
# zone-name is an alphanumeric zone name you assign for your zone
# zone-type is one of: perimeter, interior, 24hour
# alarm-type is one of: burglary, fire, flood, gas, other
#
# The zone map below is for guidance only. 
#
#[zone-map]
#1 = fire, 24hour, fire
#2 = front-door, perimeter, burglary
#3 = back-door, perimeter, burglary
#4 = garage, perimeter, burglary
#14 = hall-pir, interior, burglary
#15 = lvr-pir, interior, burglary
#16 = office-pir, interior, burglary
#
# End of Zone Section
#
# Expander Mapping
#
#
# To optionally report zone alerts from a zone expander, map an expander address,channel on the left to a zone name on the right.
# zoneinfo
#
#[exp-map]
#7,1 = hall-pir
#7,2 = lvr-pir
#7,3 = office-pir
#
# End of expander mapping
#
#
# End of config file
#






